{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="site-section bg-light" id="pricing-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade-up">
          <h2 class="section-title mb-3" style="margin-top: 25px;">About Us</h2>
        </div>
      </div>

      

  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Computer World Company</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">Computer World is our current Company that is upcoming.Our aim is to ensure Technology is real in the entire world</p>
        </div>
      </div>
      
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
              <img src="{% static 'images/COMPUTER WORLD LOGO3.png' %}" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="mb-4">
                <h3 class="h3 mb-4 text-black">Objective of the Company</h3>
                <p>Computer World aims at extending technology beyong zero among nations and in the entire world.As the Internet of Things pertakes almost everything in the current generation, Computer World come in to Champion the same to ensure the Mission, Vision and purpose of Technology is attained.
            </p>
            <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>

              </div>
      </div>
    </div>
  </section>


      <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="pricing">
            <h3 class="text-center text-black">Developments</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li></li>
              <li><span><span></span></li>
              <li class="remove"><span><span></span></li>
              <li class="remove"><span><span></span></li>
              <li class="remove"><span><span></span></li>


            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Request</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing">
            <h3 class="text-center text-black">Installations</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>

              <li class="remove"><span><span></span></li>
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-primary">Request</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing">
            <h3 class="text-center text-black">Hardwares</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>

            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Request</a>
            </p>
          </div>
        </div>
      </div>
      

    </div>
  </section>

{% endblock %}